{
    "extends": ["airbnb-base"],
    "env": {
      "node": true,
      "es6": true,
      "browser": true,
      "jest": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "ignorePatterns": ["sum.test.js", "example.js", "sum.js"],
    "rules": {
      "no-console": "error",
      "eqeqeq": "off"
    }
  }